//Name: boo-shnickle-light
//Author: boo-shnickle (@boo_shnickle)
@base16-color-base00: #FFFFCC;
@base16-color-base01: #DEDEB2;
@base16-color-base02: #BDBD97;
@base16-color-base03: #9C9C7D;
@base16-color-base04: #7C7C63;
@base16-color-base05: #5B5B49;
@base16-color-base06: #3A3A2E;
@base16-color-base07: #191914;
@base16-color-base08: #FFBFA5;
@base16-color-base09: #FFDC99;
@base16-color-base0A: #FFF299;
@base16-color-base0B: #E7FF99;
@base16-color-base0C: #BFFFC5;
@base16-color-base0D: #BFBFD9;
@base16-color-base0E: #F2BFD9;
@base16-color-base0F: #E5D6A6;
