//Name: Dracula
//Author: clach04 (https://github.com/clach04)
@base16-color-base00: #282A36;
@base16-color-base01: #21222C;
@base16-color-base02: #44475A;
@base16-color-base03: #6272A4;
@base16-color-base04: #9EA8C7;
@base16-color-base05: #F8F8F2;
@base16-color-base06: #F8F8F2;
@base16-color-base07: #FFFFFF;
@base16-color-base08: #FF5555;
@base16-color-base09: #FFB86C;
@base16-color-base0A: #F1FA8C;
@base16-color-base0B: #50FA7B;
@base16-color-base0C: #8BE9FD;
@base16-color-base0D: #BD93F9;
@base16-color-base0E: #FF79C6;
@base16-color-base0F: #993333;
