//Name: Everforest Light (Soft)
//Author: Márcio Sobel (https://github.com/marciosobel)
@base16-color-base00: #F3EAD3;
@base16-color-base01: #EAE4CA;
@base16-color-base02: #DDD8BE;
@base16-color-base03: #939F91;
@base16-color-base04: #829181;
@base16-color-base05: #5C6A72;
@base16-color-base06: #4D5960;
@base16-color-base07: #333C43;
@base16-color-base08: #F85552;
@base16-color-base09: #F57D26;
@base16-color-base0A: #DFA000;
@base16-color-base0B: #8DA101;
@base16-color-base0C: #35A77C;
@base16-color-base0D: #3A94C5;
@base16-color-base0E: #DF69BA;
@base16-color-base0F: #829181;
