//Name: Everforest Light (Medium)
//Author: Márcio Sobel (https://github.com/marciosobel)
@base16-color-base00: #FDF6E3;
@base16-color-base01: #F4F0D9;
@base16-color-base02: #E6E2CC;
@base16-color-base03: #939F91;
@base16-color-base04: #829181;
@base16-color-base05: #5C6A72;
@base16-color-base06: #475258;
@base16-color-base07: #2D353B;
@base16-color-base08: #F85552;
@base16-color-base09: #F57D26;
@base16-color-base0A: #DFA000;
@base16-color-base0B: #8DA101;
@base16-color-base0C: #35A77C;
@base16-color-base0D: #3A94C5;
@base16-color-base0E: #DF69BA;
@base16-color-base0F: #829181;
