//Name: Kissa Latte
//Author: rwendell (https://github.com/rwendell/kissa)
@base16-color-base00: #F5F4F0;
@base16-color-base01: #E8E7E3;
@base16-color-base02: #D5D2CB;
@base16-color-base03: #91887D;
@base16-color-base04: #746C62;
@base16-color-base05: #1F1C16;
@base16-color-base06: #6E6459;
@base16-color-base07: #FEFCFA;
@base16-color-base08: #9E3E3E;
@base16-color-base09: #8F5D22;
@base16-color-base0A: #7D6820;
@base16-color-base0B: #387050;
@base16-color-base0C: #287070;
@base16-color-base0D: #3468A8;
@base16-color-base0E: #6438A0;
@base16-color-base0F: #943A68;
