//Name: Kissa Macchiato
//Author: rwendell (https://github.com/rwendell/kissa)
@base16-color-base00: #1F1C16;
@base16-color-base01: #35322D;
@base16-color-base02: #47443F;
@base16-color-base03: #B8A48C;
@base16-color-base04: #D4C4A8;
@base16-color-base05: #FAF0E6;
@base16-color-base06: #E8D5B7;
@base16-color-base07: #FEF4E4;
@base16-color-base08: #E87777;
@base16-color-base09: #DA9050;
@base16-color-base0A: #EAC67A;
@base16-color-base0B: #8CB870;
@base16-color-base0C: #6AB8B0;
@base16-color-base0D: #7FA8D4;
@base16-color-base0E: #B094CC;
@base16-color-base0F: #CC88AA;
