//Name: Swamp Light
//Author: Masroof Maindak (https://github.com/masroof-maindak)
@base16-color-base00: #F1E3D1;
@base16-color-base01: #DDCEBC;
@base16-color-base02: #C9B9A7;
@base16-color-base03: #B5A492;
@base16-color-base04: #A0907D;
@base16-color-base05: #64513E;
@base16-color-base06: #786653;
@base16-color-base07: #8C7B68;
@base16-color-base08: #D09700;
@base16-color-base09: #64513E;
@base16-color-base0A: #993333;
@base16-color-base0B: #908D6A;
@base16-color-base0C: #D09700;
@base16-color-base0D: #BF7979;
@base16-color-base0E: #9E5581;
@base16-color-base0F: #75858C;
