//Name: Swamp Dark
//Author: Masroof Maindak (https://github.com/masroof-maindak)
@base16-color-base00: #242015;
@base16-color-base01: #3A3124;
@base16-color-base02: #4D3F32;
@base16-color-base03: #5F4E41;
@base16-color-base04: #B8A58C;
@base16-color-base05: #D2C3A4;
@base16-color-base06: #EBE0BB;
@base16-color-base07: #F1E9D0;
@base16-color-base08: #DB930D;
@base16-color-base09: #EBE0BB;
@base16-color-base0A: #A82D56;
@base16-color-base0B: #7A7653;
@base16-color-base0C: #DB930D;
@base16-color-base0D: #C1666B;
@base16-color-base0E: #91506C;
@base16-color-base0F: #61A0A8;
