@import 'schemes/@{base16-scheme}';

// Grayscale
// Black (Background) - Default Background
@black: if(@base16-invertColors, @base16-color-base07, @base16-color-base00);
// (Darkest Gray) - Lighter Background (Used for status bars)
@very-dark-gray: if(
  @base16-invertColors,
  @base16-color-base06,
  @base16-color-base01
);
// (Dark Gray) - Selection Background
@dark-gray: if(
  @base16-invertColors,
  @base16-color-base05,
  @base16-color-base02
);
// Bright Black (Gray) - Comments, Invisibles, Line Highlighting
@gray: if(@base16-invertColors, @base16-color-base04, @base16-color-base03);
// (Light Gray) - Dark Foreground (Used for status bars)
@light-gray: if(
  @base16-invertColors,
  @base16-color-base03,
  @base16-color-base04
);
// White - Default Foreground, Caret, Delimiters, Operators
@very-light-gray: if(
  @base16-invertColors,
  @base16-color-base02,
  @base16-color-base05
);
// (Lighter White) - Light Foreground
@almost-white: if(
  @base16-invertColors,
  @base16-color-base01,
  @base16-color-base06
);
// Bright White - The Lightest Foreground
@white: if(@base16-invertColors, @base16-color-base00, @base16-color-base07);

// Colors
// Red and Bright Red - Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
@red: if(
  @base16-invertColors,
  .invert-with-contrast(@base16-color-base08, @black)[@result],
  @base16-color-base08
);
// (Orange) - Integers, Boolean, Constants, XML Attributes, Markup Link Url
@orange: if(
  @base16-invertColors,
  .invert-with-contrast(@base16-color-base09, @black)[@result],
  @base16-color-base09
);
// Yellow and Bright Yellow - Classes, Markup Bold, Search Text Background
@yellow: if(
  @base16-invertColors,
  .invert-with-contrast(@base16-color-base0A, @black)[@result],
  @base16-color-base0A
);
// Green and Bright Green - Strings, Inherited Class, Markup Code, Diff Inserted
@green: if(
  @base16-invertColors,
  .invert-with-contrast(@base16-color-base0B, @black)[@result],
  @base16-color-base0B
);
// Cyan and Bright Cyan - Support, Regular Expressions, Escape Characters, Markup Quotes
@cyan: if(
  @base16-invertColors,
  .invert-with-contrast(@base16-color-base0C, @black)[@result],
  @base16-color-base0C
);
// Blue and Bright Blue - Functions, Methods, Attribute IDs, Headings
@blue: if(
  @base16-invertColors,
  .invert-with-contrast(@base16-color-base0D, @black)[@result],
  @base16-color-base0D
);
// Magenta and Bright Magenta - Keywords, Storage, Selector, Markup Italic, Diff Changed
@purple: if(
  @base16-invertColors,
  .invert-with-contrast(@base16-color-base0E, @black)[@result],
  @base16-color-base0E
);
// (Dark Red or Brown) - Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?>
@brown: if(
  @base16-invertColors,
  .invert-with-contrast(@base16-color-base0F, @black)[@result],
  @base16-color-base0F
);
